body {
  background: transparent;

}

.forward {
  float : right
}
.backward {
  float : left ;
}

body {
  background: transparent;
   margin : 0 auto ;
}
output {
  display: block;
  color : white;
  font-size: 30px;
  margin-top :10px;
}
input {
  width: 450px;
}


input[type=range] {
  width: 100%;
  margin: 4.45px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(255, 117, 19, 0.4);
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 19.5px;
  width: 100%;
  height: 13.1px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -7.05px;
  width: 23px;
  height: 22px;
  background: #e6500e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff842d;
}
input[type=range]::-moz-range-track {
  background: rgba(255, 117, 19, 0.4);
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 19.5px;
  width: 100%;
  height: 13.1px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 23px;
  height: 22px;
  background: #e6500e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.75px 0;
  color: transparent;
  width: 100%;
  height: 13.1px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #f96700;
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 39px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 117, 19, 0.4);
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 39px;
}
input[type=range]::-ms-thumb {
  width: 23px;
  height: 22px;
  background: #e6500e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 117, 19, 0.4);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff842d;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
input[type=range] {
  width: 100%;
  margin: 4.45px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(255, 117, 19, 0.4);
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 19.5px;
  width: 100%;
  height: 13.1px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -7.05px;
  width: 23px;
  height: 22px;
  background: #e6500e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff842d;
}
input[type=range]::-moz-range-track {
  background: rgba(255, 117, 19, 0.4);
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 19.5px;
  width: 100%;
  height: 13.1px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 23px;
  height: 22px;
  background: #e6500e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.75px 0;
  color: transparent;
  width: 100%;
  height: 13.1px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #f96700;
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 39px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 117, 19, 0.4);
  border: 2.6px solid rgba(153, 22, 48, 0.2);
  border-radius: 39px;
}
input[type=range]::-ms-thumb {
  width: 23px;
  height: 22px;
  background: #e6500e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 117, 19, 0.4);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff842d;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

